#global_build_flags[vhdl] = -rangecheck
global_build_flags[verilog] = -lint
global_build_flags[systemverilog] = -lint

# Relative paths (relative to the project file if using HTTP mode or the project
# root if using LSP mode)
vhdl my_library FOC_core.vhd -2008
vhdl FOC_lib FOC_lib/FOC_types.vhd -2008
