#global_build_flags[vhdl] = -rangecheck
global_build_flags[verilog] = -lint
global_build_flags[systemverilog] = -lint

# Relative paths (relative to the project file if using HTTP mode or the project
# root if using LSP mode)
vhdl work /home/pawel5sekund/Projects/Field-Orientated-Control-on-ZYNQ/IP_FOC_core/FOC_BLDC.srcs/sources_1/**/* -2008
vhdl FOC_lib /home/pawel5sekund/Projects/Field-Orientated-Control-on-ZYNQ/IP_FOC_core/FOC_BLDC.srcs/sources_1/new/FOC_lib/FOC_types.vhd -2008
